.item-list-container {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
  }
  
  .item-list-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 120px;
  }
  